In [1]:
import pandas as pd

In [10]:
# Read CSV and print the first 5 rows of the file
data = pd.read_csv('titanic.csv')
print(data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [5]:
# Filter the data who survived over 30 years
over_30 = data[(data["Age"] > 30) & (data["Survived"] == 1)]
print(over_30)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
11            12         1       1
15            16         1       2
21            22         1       2
..           ...       ...     ...
857          858         1       1
862          863         1       1
865          866         1       2
871          872         1       1
879          880         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
21                               Beesley, Mr. Lawrence    male  34.0      0
..                                                 ...     ...   ...    ...
857                             Daly, Mr. Peter Denis     male  51.0      0
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0

     Parch    Ticket     Fare Cabin Embarked
1        0  PC 17599  71.2833   C85        C
3        0    113803  53.1000  C123        S
11       0    113783  26.5500  C103        S
15       0    248706  16.0000   NaN        S
21       0    248698  13.0000   D56        S
..     ...       ...      ...   ...      ...
857      0    113055  26.5500   E17        S
862      0     17466  25.9292   D17        S
865      0    236852  13.0000   NaN        S
871      1     11751  52.5542   D35        S
879      1     11767  83.1583   C50        C

[124 rows x 12 columns]

In [13]:
# Add a new Column if the fare is above 30 add High else Low 
data["Fare_Category"] = ["High" if fare > 30 else "Low" for fare in data["Fare"]]
print(data[["Fare", "Fare_Category"]].head())

      Fare Fare_Category
0   7.2500           Low
1  71.2833          High
2   7.9250           Low
3  53.1000          High
4   8.0500           Low

In [14]:
avg_fare_by_embark = data.groupby("Embarked")["Fare"].mean()
print(avg_fare_by_embark)

Embarked
C    59.954144
Q    13.276030
S    27.079812
Name: Fare, dtype: float64

In [15]:
high_fare = data[data["Fare"] > 50]
high_fare.to_csv("high_fare_passengers.csv", index=False)